<footer>
    <div  class="container">
        <p>&copy; since 2025 Pokédex of Accessibility. All rights reserved. Created by <a href="https://www.linkedin.com/in/juliaundeutsch/" aria-label="Julia Undeutsch on LinkedIn"> Julia Undeutsch</a>. </p>
         <p>A project by <a href="https://www.accessibilityfirst.at/">Accessibility First</a></p>
        <div class="to-the-top">
            <a href="#site-header">
                <span class="to-the-top-long">
                    Nach oben 
                    <span class="arrow" aria-hidden="true">↑</span>
                </span>
                <span class="to-the-top-short">
                    Hoch 
                    <span class="arrow" aria-hidden="true">↑</span>
                </span>
            </a>
        </div>
    </div>
</footer>