<nav class="navbar" id="home">
  <div class="nav-container">
    <a href="/" class="nav-logo">
        <h1>Pokedex of Accessibility</h1>
    </a>
    <button class="menu-toggle" aria-expanded="false">Menu</button>
    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/shuffle/">WCAG Shuffle</a></li>
      <li><a href="/wcag-cards/">WCAG Pokémon Cards</a></li>
    </ul>
  </div>
</nav>