---
layout: base.njk
title: "WCAG Shuffle"
---

<div>
    <h1>WCAG <span class="sr-only">Shuffle</span><img src="/assets/img/shuffle.png" alt="" height="25px" width="150px" /></h1>
    <p>Filter WCAG 2.2 Success Criteria (Level A, AA, AAA)</p>
</div>

<section id="filter-section">
    <h2>Filter by Keyword:</h2>
    <div id="filter-chips-container"></div>
    <div id="active-filters-info">
        Showing results matching: <span id="active-filter-list">None</span>
    </div>
</section>

<section id="sc-list-section" aria-labelledby="results_heading" tabindex="-1">
    <h2 id="results_heading">Success Criteria (<span id="sc-count" role="status">0</span> found)</h2>
    <ul id="sc-list-container">
        <p class="loading-message">Loading criteria...</p>
    </ul>
</section>